
.b_main {
    margin: 10px;
    text-align: center;
    background: red;
    width: 200px;
    height: 200px;
    margin: auto;
    padding: 5px ;
}
.b_name {
    text-align: center;
    font-size: 15px;
    font-style: italic;
}
.b_image {
    height: 100px;
    width: 100px;
}
